.auctions {
	&__title {
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: 38px;
	}
	&__item {
	}
}
.item-auctions {
	position: relative;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	@media (any-hover: hover){
		&:hover{
			.item-auctions__actions{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__img {
		display: block;
		width: 100%;
		height: 350px;
		position: relative;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		overflow: hidden;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			max-width: 100%;
		}
	}
	&__desc {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		flex: 1 1 auto;
	}
	&__title {
		margin-bottom: 12px;
		font-size: 32px;
		font-weight: 500;
	}
	&__text {
		font-size: 16px;
		line-height: math.div(22 , 16);
	}
	&__category{
		margin-top: auto;
		display: flex;
		align-items: center;
		column-gap: 10px;
		font-size: 16px;
		margin-bottom: 20px;
		span{
			color: #A7A7A7;
		}
	}
	&__pay {
		width: 100%;
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 10px;
		position: absolute;
		top: 30px;
		right: 30px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}

	&__button {
		display: flex;
		justify-content:center;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.4);
		transition: all 0.2s ease 0s;
		@media (any-hover: hover){
			&:hover{
				background-color: rgba(0, 0, 0, 0.8);
			}
		}
	}
}

